<a href="https://colab.research.google.com/github/PRihana/Rihana/blob/master/03_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Buit in functions in string mostly used

find

isalpha

isalnum

replace

count

isupper

islower

lower

upper

split

swap

isnumeric

isdigit

In [0]:
s1="abc xyz"
s2="xyz"
print(s1.find(s2))
print(s1.find("uvw"))
print(s1.isalpha())#False
print(s2.isalpha())#False
print(s1.isalnum())#False
print(s2.isalnum())#True
print(s1.swapcase())#ABC XYZ
print(s1.split())#default value is space
list1=s2.split(",")

4
-1
False
True
False
True
ABC XYZ
['abc', 'xyz']

In [0]:
s1=input("enter string1")#bad
s2=input("enter string2")#water
if(len(s1)==len(s2)):
  for i in range(len(s1)):
    print(s1[i],s2[i])
elif(len(s1)<len(s2)):
  for i in range(len(s1)):
    print(s1[i],s2[i])
  for i in range(len(s1),len(s2)):
    print("*",s2[i])

enter string1bad
enter string2water
b w
a a
d t
* e
* r

In [76]:
s1=input("enter string1")#bad
s2=input("enter string2")#water
if(len(s1)==len(s2)):
  for i in range(len(s1)):
    print(s1[i],s2[i])
elif(len(s1)<len(s2)):
  for i in range(len(s1)):
    print(s1[i],s2[i])
  for i in range(len(s1),len(s2)):
    print("*",s2[i])
else:
  for i in range(len(s2)):
    print(s1[i],s2[i])
  for i in range(len(s2),len(s1)):
    print(s1[i],"*")

enter string1water
enter string2bad
w b
a a
t d
e *
r *

In [0]:
s1=input("enter string1")#bad
s2=input("enter string2")#water
if(len(s1)<len(s2)):
    diff=len(s2)-len(s1)
    s1=s1+"*"*diff
elif len(s1)>len(s2):
  diff=len(s1)-len(s2)
  s2=s2+"*"*diff
for i in range(len(s1)):
  print(s1[i],s2[i])

enter string1bad
enter string2water
b w
a a
d t
* e
* r

In [0]:
#input:orange
#output:puboif
s=input("enter a string")
vowels="aeiouAEIOU"
for i in s:
  if (i in vowels):
    print(chr(ord(i)+1),end="")
  else:
    if(i>'a' and i<'e'):
      print('e',end="")
    elif(i>'e' and i<'i'):
      print('i',end="")
    elif(i>'i' and i<'o'):
      print('o',end="")
    elif(i>'o' and i<'u'):
      print('u',end="")
    elif(i>'u' and i<='z'):
      print('a')

enter a stringorange
puboif

## operators:

In [73]:
#1.Arithmetic operator:+,-,*,/,%,//(floor division),**exponent
x=10
y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)#10^20

30
-10
200
0.5
10
0
100000000000000000000

In [74]:
#2.relational operator
x=10
y=20
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)
print(x!=y)

True
False
True
False
True

In [75]:
#3.Logical operators:and,or,not
print(x<y and x<5)
print(x<y or x<5)
print(not x<y)

False
True
False

In [0]:
#4.Assignment operators:=,+=,-=,*=,/=,%=,//=,**=
x=10
y=20
x+=10 # = x+10
print(x)

20

In [0]:
#5.Bit-wise operators:&,/,^,~,<<,>>
x=10 #0000 1010
y=20 #0001 0100
print(x & y)#000 000 
print(x | y)#0001 1110
print(x ^ y)#0010 1110
print(x<<2)#0010 1000
print(x>>2)#0000 0010
print(~x)

0
30
30
40
2
-11

In [0]:
#6.membership operators:in,not in
s="python"
print('z' in s)
print('t' in s)
print('z' not in s)
print('t' not in s)

False
True
True
False

In [0]:

#7.identity oprator:is,is not
x=10
y=20
z=10
print(x is z)#id(x==id(z)-->True)
print(x is y)
print(x is not z)
print(x is not y)

True
False
False
True

In [0]:
#8.Traditional way
x=10
y=20
if(x>y):
  priny(x)
else:
  print(y)
#Ternary operator
print(x) if(x>y) else print(y)

20
20

In [0]:
#condiyional control statements:if,else,elif
Accept 3 subject marks of a student and check whether student got minimum 30 marks in all subjects or not
if he gets minimum 30 in all subjects or not
if he gets minimum 30 in all sujects then find average marks else print FAIL.
avg>=75-->A
avg<75 and avg>=60-->B
avg<60 and avg>=45-->c
avg<45 and avg>=30-->D 
else FAIL

In [0]:
s1=int(input("enter sub1 marks"))
s2=int(input("enter sub2 marks"))
s3=int(input("enter sub3 marks"))
if(s1>30 and s2>30 and s3>30):
   avg=(s1+s2+s3)/3 
   if(avg >=75):
    print("grade =A")
   elif (avg<75 and avg>=60):
    print("grade =B")
   elif (avg<60 and avg>=45):
    print("grade =C")
   elif (avg<45 and avg>=30):
    print("grade =D")  
   else:
    print("FAIL")  
else:
  print("FAIL")

enter sub1 marks30
enter sub2 marks50
enter sub3 marks8
FAIL

In [0]:
#Loops:while,for
i=1
n=int(input("enter a value"))
while i<=n:
  print(i,end=" ")
  i+=1
for i in range(1,n+1,1):
  print(i,end=" ")

enter a value10
1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10

In [0]:
#Accept a string as an input and print all the characters of the 
#string without using len() and using while loop
s=input("enter a string")
l = 0#length of string
j = 0
for i in s:#counting for number of characters for string
  l+=1
while j<l:#printing characters
  print(s[j])
  j+=1

enter a stringabcd
a
b
c
d

In [0]:
#Accept a string as an input and check whether the string is 
#palindrome or not
#input:madam
#output:palindrome
s=input("enter a string")
print("palindrome") if s==s[::-1] else print("not palindrome")

enter a stringmadam
palindrome

In [0]:
n=int(input("enter a number"))
print("palindrome") if(str(n)==str(n)[::-1]) else print("not palindrome")

enter a number121
palindrome

In [77]:
#Accept a number as an input and print given number table
n=int(input("enter a number:"))
for i in range(1,11):
  print(n,"*",i,'=',n*i)
  print("%d * %d = %d"%(n,i,n*i))

enter a number:5
5 * 1 = 5
5 * 1 = 5
5 * 2 = 10
5 * 2 = 10
5 * 3 = 15
5 * 3 = 15
5 * 4 = 20
5 * 4 = 20
5 * 5 = 25
5 * 5 = 25
5 * 6 = 30
5 * 6 = 30
5 * 7 = 35
5 * 7 = 35
5 * 8 = 40
5 * 8 = 40
5 * 9 = 45
5 * 9 = 45
5 * 10 = 50
5 * 10 = 50

In [0]:
#Accept a number as an input and print the output in the following 
n=int(input())
for i in range(1,n+1):
  if(i%3==0 and i%5==0):
   print("fizzbuzz")
  elif(i%5==0):
   print("buzz")
  elif(i%3==0):
   print("fizz")
  else:
   print(i)

4
1
2
fizz
4

In [0]:
#Questions:
 1.Accept a number and check whether it is a prime or not
 2.print the count of prime numbers in the given range
 3.Accept a number and check whether it is perfect number or not
    explanation:6-->1,2,3=1+2+3=6
 4.Accept a number and check whether it is Armstrong number or not   
    explanation:153-->1^3+5^3+3^3