<a href="https://colab.research.google.com/github/PRihana/Rihana/blob/master/11_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#create list of list
#[0,1,2,3,4,5,6,7,8,9][10,11,12,13,14,.......19].......[90,99]
#range(0,10)
#range(10,20)
#range(20,30)
#............
#............
#range(90,100)
#find the 7th row 6th element

range(90, 100)

In [0]:
out=[]
for i in range(0,100,10):
  out.append(list(range(i,i+10)))
out[6][5]

65

In [0]:
#i/p:[27,24,56,12,19,30]
#o/p:[27,576,56,144,19,900]
a=[27,24,56,12,19,30]
for i in range(1,len(a),2):
  a[i]=a[i]*a[i]
a

[27, 576, 56, 144, 19, 900]

In [0]:
a=[27,24,56,12,19,30]
i=2
while i<len(a):
      a[i]=a[i]*a[i]
      i=i+2
a

[27, 24, 3136, 12, 361, 30]

In [0]:
a=[27,24,56,12,19,30]
for i in range(len(a)):
  if i%2==1:
    a[i]=a[i]**2
a

[27, 576, 56, 144, 19, 900]

In [0]:
# i/p : [27,24,12,19,30]
# o/p : [27,576,144,19,900]
a=[27,24,12,19,30]
for i in range(len(a)):
  if (a[i] % 6)==0:
     a[i]=a[i]**2
a

[27, 576, 144, 19, 900]

In [0]:
a=[27,24,12,19,30]
b=[]
for i in range(len(a)):
  if (a[i] % 6)==0:
    b.append(a[i]**2)
  else:  
    b.append(a[i])
a

[27, 24, 12, 19, 30]

In [0]:
a=[27,24,12,19,30]
b=[]
for i in a:
  if (i % 6)==0:
    b.append(i**2)
  else:  
    b.append(i)
b

[27, 576, 144, 19, 900]

In [0]:
a=[27,24,12,19,30]
b=a
for i in range(len(a)):
  if (a[i] % 6)==0:
    b[i]=b[i]**2
print(a)
print(b)

[27, 576, 144, 19, 900]
[27, 576, 144, 19, 900]

In [0]:
a=[27,24,12,19,30]
b=a.copy()
for i in range(len(a)):
  if (a[i] % 6)==0:
    b[i]=b[i]**2
print(a)
print(b)

[27, 24, 12, 19, 30]
[27, 576, 144, 19, 900]

In [0]:
a=[27,24,12,19,30]
b=a[:]
for i in range(len(a)):
  if (a[i] % 6)==0:
    b[i]=b[i]**2
print(a)
print(b)

[27, 24, 12, 19, 30]
[27, 576, 144, 19, 900]

In [0]:
#TUPLE
-empty tuple
-tuple with on element
-immutable
-operations on tuple

In [0]:
t1=(1,34,67,3,7)

In [0]:
t=()
print(type(t))

<class 'tuple'>

In [0]:
t1=(1,34,67,3,7)
print(type(t1))

<class 'tuple'>

In [0]:
print(t1)

(1, 34, 67, 3, 7)

In [0]:
s='python'
s[1]='y'

TypeError: ignored

In [0]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [0]:
t1.count(1)

1

In [0]:
print(t1)
print(t1.count(1))
print(t1.count(5))

(1, 34, 67, 3, 7)
1
0

In [0]:
print(t1)
print(t1.index(1))
print(t1.index(5))

(1, 34, 67, 3, 7)
0

ValueError: ignored

In [0]:
t2=(4,5)

In [0]:
t+t1

(1, 34, 67, 3, 7)

In [0]:
t2=(4,5)
t1+t2

(1, 34, 67, 3, 7, 4, 5)

In [0]:
t1*2

(1, 34, 67, 3, 7, 1, 34, 67, 3, 7)

In [0]:
t1==t2

False

In [0]:
t2>t1

True

In [0]:
(23,56)>(12,34,78)

True

#sets

In [0]:
s={45,78,45,78,45,7}
s

{7, 45, 78}

In [0]:
s1={}
type(s1)

dict

In [0]:
s1=set()
print(type(s1))

<class 'set'>

In [0]:
unique=list(s)
unique

[45, 78, 7]

In [0]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [0]:
help(s.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [0]:
s1={23,45,67,23,45,4}
s2={2,3,4,45,3,4}
s3={100,2,3}
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.difference(s2,s3))

{67, 23}
{2, 3}
{67, 23}

In [0]:
# Read the input from keyboard
# i/p  "23 44 67 92 99"
# o/p : [3,4,7,2,9]
# Try the problem in two ways
    # to update the same list 
    # to create a new list

In [0]:
s=input()
nums=s.split()

23 44 67 92 99

In [0]:
s=input()
nums=s.split()
out=[]
for i in nums:
  out.append(int(i[-1]))
print(out)

23 44 67 92 99
[3, 4, 7, 2, 9]

In [0]:
s=input()
nums=input().split()
for i in range(len(nums)):
  nums[i]=int(nums[i][-1])
nums

23 44 67 92 99
3 4 7 2 9

[3, 4, 7, 2, 9]

In [0]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
a=input().split()
b=input().split()
print(a)
print(b)
for i in range(len(a)):
  a[i]=int(a[i])
  b[i]=int(b[i])
print(a)  

# o/p1: [3,2,3,5,0]
# o/p2:[1,3,3,5,11]

10 20 30 60 99
7 6 9 11 9
['10', '20', '30', '60', '99']
['7', '6', '9', '11', '9']
[10, 20, 30, 60, 99]

In [0]:

a=input().split()
b=input().split()
print(a)
print(b)
out1=[]
out2=[]
for i in range(len(a)):
  a[i]=int(a[i])
  b[i]=int(b[i])
  out.append(a[i]%b[i])
  out.append(a[i]//b[i])
print(out1)
print(out2)

In [0]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# i/p3: "56 78 89 9 52"
#o/p [[10,20,30,60,99],[7,6,9,11,9],[56,78,89,9,52]]

In [0]:
out=[]
for i in range(3):
    a=input().split()
    for j in range(len(a)):
      a[j]=int(a[j])
    out.append(a)
out

10 20 30 60 99
7 6 9 11 9
56 78 89 9 52

[[10, 20, 30, 60, 99], [7, 6, 9, 11, 9], [56, 78, 89, 9, 52]]

In [0]:
# Get the input from keyboard How many names you want to read
# Read the names from keybord one by one. Store them in a list.
# update the same list with names as lowercase letters
# Get the names in a new list as output which starts with vowels
# Get the names in a new list which ends with consonants
# Get the names in a new list which will starts with vowels and ends with consonants
# Get the names in new list which will start with consonats and ends with vowel
# Get the names in a list which have length in range(5,10). Both 5 and 10 are inclusive

In [0]:
# Get the input from keyboard Hoiw many names you want to read
# Read the names from keybord one by one. Store them in a list.
# update the same list with names as lowercase letters
n=int(input())
names=[]
for i in range(n):
  names.append(input().lower())

2
pyhton
java

In [0]:
names

['pyhton', 'java']

In [0]:
out = []
for name in names:
    if len(names)>=5 and len(name)<=10:
        out.append(name)
out

In [0]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here

In [0]:
# read the number of students from user
# Read the details of students into a list. Each sublist contains below details
    # studentName,RollNumber,Marks,Language in a single line
    # example "raj,416,56,python"
# Create a list in which 
    # each sublist conatains three elements
        # First element is a tuple contains name and roll number
        # second element is marks
        # third element is language 
# From the list get the  different languages avaialble in the data

In [0]:
# read two lists from user. Two list conatins the names of students
# Get the names which are there in both lists
# Get the names which are there in alteast one list
# Get the names which are there in list1 not there in list2
# Get the names which are there in list2 not there in list1

In [0]:
# Craete multipliaction table of a number
# Read the number from user
# Example :3
3 * 1 = 3
3 * 2 = 6
'''''''
''''''
3 * 10 = 30
# Later modify the code so that you can read the lower bound and upperbound for the table. 
# for the above case lowerbound is 1 and upper bound is 10

In [0]:
# take a list of numbers or names with repetetive values
# Get a list as output
    # each sublist has the number and how many times it is there in the list
# The ouput shoud be in sorted order based on count.
# If the count is equal different numbers. Sort them based on numbers
# Example : [23,45,23,77,67,45,45,2,3,3,2,3]
# output :[[3,3],[45,3],[2,2],[23,2],[67,1],[77,1]]