<a href="https://colab.research.google.com/github/PRihana/Rihana/blob/master/12_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here
emails=[]
while True:
    email = input()
    if email == "done":
        break
    else:
        emails.append(email)
print(emails)

818@gmail.com
rihan@gmail.com
anjali@gmail.com
chandu@yahoo.com
done
['818@gmail.com', 'rihan@gmail.com', 'anjali@gmail.com', 'chandu@yahoo.com']

In [0]:
domains=[]
for i in range(len(emails)):
    domains.append(emails[i].split('@')[-1])
domains

['gmail.com', 'gmail.com', 'gmail.com', 'yahoo.com']

In [0]:
# how many emails are there with domain'gmail.com'
emails = ['818@gmail.com']
rihan@gmail.com
anjali@gmail.com
chandu@yahoo.com
emails

NameError: ignored

In [0]:
c=0
for i in range(len(emails)):
    if emails[i].split('@')[-1]=="gmail.com":
        c += 1
print(c)

1

In [0]:
# get the unique domain names from the list domain
unique_domains=[]
for i in domains:
    if i not in unique_domains:
        unique_domains.append(i)
unique_domains

['gmail.com', 'yahoo.com']

In [0]:
print(emails)
print(domains)
print(domains.count("gmail.com"))
print(unique_domains)

['818@gmail.com']
['gmail.com', 'gmail.com', 'gmail.com', 'yahoo.com']
3
['gmail.com', 'yahoo.com']

In [0]:
print(domains.count("gmail.com"))
print(domains.count("yahoo.in"))

3
0

In [0]:
domains_count = []
for i in unique_domains:
    domains_count.append([i,domains.count(i)])
domains_count

[['gmail.com', 3], ['yahoo.com', 1]]

In [0]:
domains_count = []
for i in domains:
    domains_count.append([i,domains.count(i)])
domains_count

[['gmail.com', 3], ['gmail.com', 3], ['gmail.com', 3], ['yahoo.com', 1]]

In [0]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here
emails=[]
while True:
    email = input()
    emails.append(email)
    if email == "done":
        break
print(emails)

In [0]:
emails=[]
while True:
    email = input()
    if email == "done":
        emails.append(email)
        break
print(emails)

hi
hello
done
['done']

In [0]:
tuple([1,2,3])

(1, 2, 3)

In [0]:
# read the number of students from user
# Read the details of students into a list. Each sublist contains below details
    # studentName,RollNumber,Marks,Language in a single line
    # example "raj,416,56,python"
# Create a list in which 
    # each sublist conatains three elements
        # First element is a tuple contains name and roll number
        # second element is marks
        # third element is language 
# From the list get the  different languages avaialble in the data

In [0]:
s = input().split()
s[1] =int(s[1])
s[2] = int(s[2])
s1 = [tuple(s[0:2]),s[2],s[3]]
s1

Rakesh 345 56 python

[('Rakesh', 345), 56, 'python']

In [0]:
n = int(input())
students = []
for i in range(n):
    s = input().split()
    s[1] =int(s[1])
    s[2] = int(s[2])
    s1 = [tuple(s[0:2]),s[2],s[3]]
    students.append(s1)
students

3
Rakesh 345 56 python
Raj 312 98 C
Hari 678 67 python

[[('Rakesh', 345), 56, 'python'],
 [('Raj', 312), 98, 'C'],
 [('Hari', 678), 67, 'python']]

In [0]:
languages = []
for i in range(len(students)):
    languages.append(students[i][2])
languages

['python', 'C', 'python']

In [0]:
list(set(languages))

['python', 'C']

In [0]:
#get the marks of the student with roll number 678
for i in range(len(students)):
    if students[i][0][1]==678:
        print(students[i][1])

67

In [0]:
a=[45,667,678,92,62,46,78]
#get the index of value 678 without using index function
a.index(678)

2

In [0]:
for i in range(len(a)):
    if a[i] == 678:
        print(i)

2

In [0]:
for i in range(len(students)):
    if students[i][0][1] == 678:
        print(students[i][1])

67

In [0]:
# Marks with student name Raj
for i in range(len(students)):
    if students[i][0][0] == "Raj":
        print(students[i][1])

98

In [0]:
# language with student rollnumber 312
for i in range(len(students)):
    if students[i][0][1] == 312:
        print(students[i][2])

C

In [0]:
# Student roll numbers as a list with langauge python
py_users =[]
for i in range(len(students)):
    if students[i][2] == "python":
        py_users.append(students[i][0][1])
py_users

[345, 678]

In [0]:
# read two lists from user. Two list conatins the names of students
# Get the names which are there in both lists
# Get the names which are there in alteast one list
# Get the names which are there in list1 not there in list2
# Get the names which are there in list2 not there in list1

In [0]:
# Craete multipliaction table of a number
# Read the number from user
# Example :3
3 * 1 = 3
3 * 2 = 6
'''''''
''''''
3 * 10 = 30
# Later modify the code so that you can read the lower bound and upperbound for the table. 
# for the above case lowerbound is 1 and upper bound is 10

In [0]:
i=1
while i<=10:
  print("{0}*{1}={2}".format(3,i,3*i))
  i+=1

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [0]:
# take a list of numbers or names with repetetive values
# Get a list as output
    # each sublist has the number and how many times it is there in the list
# The ouput shoud be in sorted order based on count.
# If the count is equal different numbers. Sort them based on numbers
# Example : [23,45,23,77,67,45,45,2,3,3,2,3]
# output :[[3,3],[45,3],[2,2],[23,2],[67,1],[77,1]]
n=int(input())
l=[]
for i in range(n):
    l.sort()

5

In [0]:
Read the inputs
How many students data you want to read
Read the student name
Read the students marks in three subjcts in a single line
Example : "56 78 92"
Use the name as a key in the dictionary and values is alist with above marks
Repeat the above three steps for all the students
Final output is a dict
Example Format
{"Renu":[45,56,78],"Hari":[78,2,45]}

In [0]:
marks={"56 78 92"}
print(marks)

{'56 78 92'}

In [0]:
marks_names={"Renu":[45,56,78],"Hari":[78,2,45]}
marks_names

{'Hari': [78, 2, 45], 'Renu': [45, 56, 78]}

In [0]:
read the number of students from user
Read the details of students into a list. Each sublist contains below details
studentName,RollNumber,Marks,Language in a single line
example "raj,416,56,python"
Create a dict in which
key is a tuple contains name and roll number
value is a dict with language as key marks as value
Output Format
{("Hari",678):{"C":94},("Renu",546):{"Python":75}

In [0]:
s=input().split()
s[1]=int(s[1])
s[2]=int(s[2])
s

raj 416 56 python

['raj', 416, 56, 'python']

In [0]:
marks={("Hari",678):{"C":94},("Renu",546):{"Python":75}}
print(marks)

{('Hari', 678): {'C': 94}, ('Renu', 546): {'Python': 75}}

In [0]:
#Modify the above code so that if the user enter multiple entries with same username and roll number you 
should add the new language as key and marks as values in the inner dictionary -o/p {("Hari",678):{"C":94,"Python":67},
("Renu",546):{"Python":75}