<a href="https://colab.research.google.com/github/PRihana/Rihana/blob/master/day3_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#write python program to print a specified list after removing the 0th,4th and 5th elements
L=['red','green','white','black','pink','yellow']
print(L)

['red', 'green', 'white', 'black', 'pink', 'yellow']

In [0]:
L.remove(L[0])
print(L)

['green', 'white', 'black', 'yellow']

In [0]:
L.remove(L[3])
print(L)

['green', 'white', 'black']

In [0]:
#write python program to removesulte duplicates from dictionary
dic={"red":"1","green":"2","white":"3","pink":"4","voilet":"1"}
print(dic)

{'red': '1', 'green': '2', 'white': '3', 'pink': '4', 'voilet': '1'}

In [0]:
result={}
for key,value in dic.items():
  if value not in result.values():
    result[key]=value

In [0]:
print(result)

{'red': '1', 'green': '2', 'white': '3', 'pink': '4'}

In [0]:
#write python program to get a list,sorted in increasing order by the last element in each tuple from a given list of non empty tuple
L1=[(2,5),(1,2),(4,4),(2,3),(2,1)]
L1.sort()
print(L1)
tuple(L1)
print(L1)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]
[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [0]:
#write python program to create a dictionary from a string
s="Dhyanahita"
dic={}
for i in s:
  dic[i]=dic.get(i,0)+1

In [0]:
print(dic)

{'D': 1, 'h': 2, 'y': 1, 'a': 3, 'n': 1, 'i': 1, 't': 1}

In [0]:
#write python program to find the second smallest number in a list
l=[9,5,1,10,4,6]
#m_value=min(l)
#print(m_value)
l.sort()
print(l[1])

4

In [0]:
#write python program to create a tuples with numbers and print one item
t=(8,7,6,5,3)
print(t[2])

6

In [0]:
#write python program to convert a list of tuple
l=[1,2,3,4,5,"string"]
tuple(l)

(1, 2, 3, 4, 5, 'string')

In [0]:
#write python program to convert a list of characters into a string
L=[8,9,7,6,5,4]
for i in L:
   a=str(i)
   print(a)
type(a)

8
9
7
6
5
4

str

In [0]:
#write python program to generate groups of five consecutive numbers in a list
L=[[5*i +j for j in range(1,6)] for i in range(5)]
print(L)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]