# functions

## addition of two no's:

In [1]:
def add(a,b):
    z=a+b
    print(z)
add(10,15)

25

## even numbers

In [10]:
def even(a):
    if a%2==0:
        print("even")
    else:
        print("odd")
even(10)

even

In [11]:
def odd(a):
    if a%2!=0:
        print("odd")
    else:
        print("even")
odd(10)

even

In [12]:
def even1():
    for i in range(1,11):
        if i%2==0:
            print(i,"even")
        else:
            print(i,"odd")
even1()

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

# Arguments

4 types
## 1.default arg
## 2.positional arg
## 3.keyword arg
## 4.variable length arg

### example:

### default arg:

In [15]:
def display(a=30,b=40):
    mul=a*b
    print(mul)
display()

1200

### positional arguments

In [17]:
def display(a,b):
    mul=a*b
    print(mul)
display(a=30,b=40)

1200

### keyword arguments:

In [20]:
def sub(firstsub,lastsub):
    print("firstsub is:",firstsub)
    print("lastsub is:",lastsub)
sub("maths","cs")

firstsub is: maths
lastsub is: cs

### variable arg:

In [21]:
def display(*a):
    print(a)
    
display([2,3,4,5])

([2, 3, 4, 5],)

In [22]:
def display(n):
    n=int(input("ente a no:"))
    print(n)
display(n)

ente a no:67
67

## factors of a given number:

In [29]:
def factors(n):
    #n = int(input("enter a value"))
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
factors(12)

1 2 3 4 6 12

In [30]:
def factors(n):
    n = int(input("enter a value"))
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
factors(n)

enter a value6
1 2 3 6

## find the largest no's using function:

In [31]:
def largest(n1,n2,n3):
    if n1>n2 and n1>n3:
        print("largest number is:",n1)
    elif n2>n1 and n2>n3:
        print("largest number is:",n2)
    else:
        print("largest number is:",n3)
largest(2,3,4)

largest number is: 4

## if no is in given range then print "true" otherwise "false"

In [90]:
n = int(input("enter a number"))
n1 = int(input("enter a limit starting"))
n2 = int(input("enter a limit ending"))
def number():
    for i in range(n1,n2+1):
        if n==i:
            return True
    return False
number()

enter a number6
enter a limit starting1
enter a limit ending9

True

# sets

In [37]:
s1 = {()}
type(s1)

set

In [38]:
s2 = {1,2,34,4,'rose','tulpis','lilly'}
print(s2)

{1, 2, 34, 4, 'rose', 'tulpis', 'lilly'}

In [41]:
for i in s2 :
    print(i)

1
2
34
4
rose
tulpis
lilly

In [43]:
s3  = {2,4,3,5,6,7}
s4 = {2,6,7,8,9,1}
s3.union(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
s3.difference(s4)

{3, 4, 5}

In [45]:
s3.intersection(s4)

{2, 6, 7}

In [48]:
print(max(s3))

7

In [49]:
print(min(s4))

1

In [50]:
S = {(1,23,45,67)}
print(type(S))

<class 'set'>

In [51]:
S.add("sun","SEt")
print(S)

TypeError: add() takes exactly one argument (2 given)

In [53]:
s3.update(["ravi"])
print(s3)

{2, 3, 4, 5, 6, 7, 'a', 'r', 'v', 'i', 'ravi'}

In [54]:
s3.update(["anju","jaaanu"])
print(s3)

{2, 3, 4, 5, 6, 7, 'a', 'anju', 'jaaanu', 'r', 'v', 'i', 'ravi'}

In [55]:
s3.pop()

2

In [56]:
print(s3)

{3, 4, 5, 6, 7, 'a', 'anju', 'jaaanu', 'r', 'v', 'i', 'ravi'}

In [57]:
s3.remove(6)

In [58]:
print(s3)

{3, 4, 5, 7, 'a', 'anju', 'jaaanu', 'r', 'v', 'i', 'ravi'}

In [59]:
s3.discard(3)

In [60]:
print(s3)

{4, 5, 7, 'a', 'anju', 'jaaanu', 'r', 'v', 'i', 'ravi'}

In [61]:
s3.clear()

In [62]:
print(s3)

set()

In [63]:
del s3
print(s3)

NameError: name 's3' is not defined

In [64]:
m = {3,4,5,6,7}
n = {2,4,56,7,3}
m|n

{2, 3, 4, 5, 6, 7, 56}

In [65]:
m&n

{3, 4, 7}

# type of conversations

In [67]:
i = '123456'
print(type(i))
i1 = int(i)
print(type(i1))
print(i1)

<class 'str'>
<class 'int'>
123456

In [68]:
i2=float(i)
print(type(i))
print(i2)
print(type(i2))

<class 'str'>
123456.0
<class 'float'>

In [69]:
i3 = "anju"
print(type(i3))

<class 'str'>

In [73]:
i3=tuple(i3)
print(i3)

()

In [75]:
i3 =list()
print(i3)

[]

In [76]:
i4 = '123456'
print(type(i4))

<class 'str'>

In [77]:
i5=tuple(i4)
print(type(i5))

<class 'tuple'>

In [78]:
i5

('1', '2', '3', '4', '5', '6')

In [79]:
s = "pythn"
s1 = tuple(s)
print(s1)

('p', 'y', 't', 'h', 'n')

In [80]:
print(type(s))
print(type(s1))

<class 'str'>
<class 'tuple'>

In [81]:
x = {"anju":"msc"}
x1 = tuple(x)
print(x1)
print(type(x))
print(type(x1))

('anju',)
<class 'dict'>
<class 'tuple'>

In [91]:
b = [1,2,3,4]
b1 = set(b)
print(b1)

{1, 2, 3, 4}

# largest digit of the given number

In [121]:
def display(n):
    i=0
    while n !=0:
        r = n % 10
        if r > i:
            i =

5